* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    
  }
  section {
    background-image: url("main-banner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 70%;
  }

  button{
    padding: 10px 15px 10px  15px;
    border-radius: 4px;
    border-width: 1px;
  }

  footer{
    height: 20%;
  }
  footer div{
    text-align:center;
    padding-top: 70px;
    padding-bottom: 10px;
  }
  footer div a{
    text-decoration: none;
  }

  footer h1 {
    text-align:center;
  }
  .content{
    width: 69%;
    padding-top: 10%;
    height: 100%;
    margin: auto;
  }
  article h1{
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: 700;
  }
  
  .learn-more{
    background-color: #2196f3;
    color: white;
  }

  .buttons{
    display: inline-block;
    margin-top: 15px;
  }
  .navbar {
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  .nav-links{
    text-decoration: none;
    color: black;
  }

  .logo {
    text-decoration: none;
    color: black;
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
  }
  
  #chkToggle {
    display: none;
  }
  
  #chkToggle:checked + ul.main-nav {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
    .content{
      padding-top: 10%;
      width: 24%;
      height: 100%;
      margin: auto;
      margin-left: 29%;
    }

    #chkToggle:checked + ul.main-nav {
      display: flex;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: black;
    }
  }
  